.header__lang-links {
    display: flex;
    justify-content: space-between;
    min-width: 62px;
    padding-top: 13px;
}

@media (min-width: 768px) {
    .header__lang-links {
        width: 78px;
        padding-top: 13px;
    }
}