.lead {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 1024px) {
    .lead {
        margin: 0 48px;
    } 
}

@media (min-width: 1280px) {
    .lead {
        margin: 0 148px;
    } 
}