.footer__copyright {
    margin: 0 0 0 16px;
    font-size: 14px;
    font-weight: normal;
    line-height: 14px;
    color: #FFFFFF;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 768px) {
    .footer__copyright {
        line-height: 16px;
        margin: 0;
    }
}