.cover {
    margin: 0 0 64px;
    max-width: 1184px;
}

@media (min-width: 768px) {
    .cover {
        margin: 0 0 88px;
    }
}

@media (min-width: 1024px) {
    .cover {
        margin: 0 0 92px;
    }
}

@media (min-width: 1280px) {
    .cover {
        margin: 0 48px 92px;
    }
}

