.footer__links {
    margin: 0;
    
}

@media (min-width: 768px) {
    .footer__links {
        width: 65%;
    }
}

@media (min-width: 1024px) {
    .footer__links {
        width: 50%;
    }
}

@media (min-width: 1280px) {
    .footer__links {
        width: 40%;
    }
}