.lead__title {
    margin: 48px auto 0;
    font-size: 40px;
    font-weight: 900;
    font-style: normal;
    line-height: 44px;
    color: #FFFFFF;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 768px) {
    .lead__title {
        font-size: 96px;
        line-height: 100px;
    }
}

@media (min-width: 1280px) {
    .lead__title {
        width: 70%;
        margin: 56px auto 0 ;
    }
}
