.place__website{
    margin: 0 0 36px 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

@media (min-width: 768px) {
    .place__website{
        margin: 0 0 48px 28px;
        
    }
}

@media (min-width: 1024px) {
    .place__website{
        margin: 0 0 48px 32px;
    }
}

@media (min-width: 1280px) {
    .place__website{
        margin: 0 0 48px 40px;
    }
}