.header__lang-links {
    display: flex;
    justify-content: space-between;
    padding: 10px 0 0 0;
    margin: 0;
    list-style-type: none;
}

@media (min-width: 768px) {
    .header__lang-links {
        padding-top: 13px;
    }
}